
.border {
    border: 1px solid black;
}

/*############
### LAYOUT ###
############*/

.flex-cont {
    display: flex;
}

.column-dir {
    flex-direction: column;
}

.space-betw {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-cent {
    align-items: center;
}

.just-cent {
    justify-content: center;
}

.flex {
    flex: 1;
}
.flextwo {
    flex:2;
}

.margin {
    margin: 0 8vw;
}


/*############
# TYPOGRAPHY #
############*/
p, ul {
    line-height: 1.5;
}

h1, h2, h3, h5 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 80px;
    padding: .5vw;
}

h2 {
    font-size: 40px;
    padding-bottom: 5px;
}

h6, p, a, li {
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

.small {
    font-size: 12px;
    font-style: italic;
}




/*############
### HEADER ###
############*/

.header {
    border-bottom: solid 2px black;
}

.heroimg {
    border-radius: 100%;
    padding: 1vw;
}

/*############
### SUB-HEADER ###
############*/

#userInfo {
    width: 400px;
    height: 100px;
    margin: 1vw 0;
    border-radius: 15px;
    padding: 1vw;
    background-color: thistle;
    box-shadow: 3px 4px darkgray;
    /* border: solid 1px gray; */
}

#userInfo img {
    /* border: solid 1px gray; */
    border-radius: 100%;
    margin: 1vw;
    box-shadow: 2px 2px darkgray;
    /* border: solid 1px gray; */
}

/*############
### STuDENT-PROFILE ###
############*/

.student-profile {
    border-radius: 15px;
    background-color: lightblue;
    margin-bottom: 1vw;
    box-shadow: 3px 4px darkgray;
    /* border: solid 1px gray; */
}

.student-header {
    margin: 0 400px 0 400px;
}

.student-header img {
    border-radius: 100%;
    margin: 1vw;
    box-shadow: 2px 2px darkgray;
    /* border: solid 1px gray; */
}

.student-info h2, .student-info p {
    padding: .2vw;
}

.card {
    padding: 2vw;
    /* border: solid 1px darkgray; */
    margin: 1vw;
    background-color: snow;
    border-radius: 15px;
    box-shadow: 3px 4px gray;
}

.bottomCard {
    height: 200px;
}

/*############
##  SPECIFIC CARD FORMATTING  ##
############*/

ul {
    padding-left: 40px;
}

.goal-card p {
    padding-bottom: 15px;
    padding-left: 15px;
}

.special-card a {
    color: blue;
    text-decoration: underline;
}

button {
    padding: 15px 30px;
    border-radius: 15px;
}

.update-entry {
    padding: 15px 0;
}

.update-entry h5 {
    padding-bottom: 5px;
    font-style: italic;
}

/*############
##  FOOTER  ##
############*/

.footer {
    border-top: solid 2px black;
}


/*################
### NAVIGATION ###
################*/

.nav {
    padding: .5vw; 
}

/*#################
###  MAIN HOME  ###
#################*/

.main-home {

}



/*#################
###  MAIN ****next page****  ###
#################*/



