
.border {
    border: 1px solid black;
}

/*############
### LAYOUT ###
############*/

.flex-cont {
    display: flex;
}

.column-dir {
    flex-direction: column;
}

.space-betw {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-cent {
    align-items: center;
}

.just-cent {
    justify-content: center;
}

.flex {
    flex: 1;
}
.flextwo {
    flex:2;
}

.margin {
    margin: 0 8vw;
}

.hidden {
    display: none;
}

/*############
# TYPOGRAPHY #
############*/
p, ul, li {
    line-height: 1.3;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 80px;
    padding: .5vw;
}

h2 {
    font-size: 60px;
    padding-bottom: 5px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 25px;
}

h6, p, a, li, nav, label {
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: 20px;
}

.nav {
    text-decoration: none;
    color: black;
}

.small {
    font-size: 16px;
    font-style: italic;
}




/*############
### STUDENT HEADER ###
############*/

.header {
    border-bottom: solid 2px black;
}

.heroimg {
    border-radius: 100%;
    padding: 1vw;
}

/*############
### STUDENT SUB-HEADER ###
############*/

#userInfo {
    width: 400px;
    height: 100px;
    margin: 1vw 0;
    border-radius: 15px;
    padding: 1vw;
    background-color: thistle;
    box-shadow: 3px 4px darkgray;
    /* border: solid 1px gray; */
}

#userInfo img {
    /* border: solid 1px gray; */
    border-radius: 100%;
    margin: 1vw;
    box-shadow: 2px 2px darkgray;
    /* border: solid 1px gray; */
}

nav {
    padding-left: 30px;
}

/*############
### STUDENT-PROFILE ###
############*/

.student-profile {
    border-radius: 15px;
    background-color: lightblue;
    margin-bottom: 1vw;
    box-shadow: 3px 4px darkgray;
    /* border: solid 1px gray; */
}

.student-header {
    margin: 0 400px 0 400px;
}

.student-header img {
    border-radius: 100%;
    margin: 1vw;
    box-shadow: 2px 2px darkgray;
    /* border: solid 1px gray; */
}

.student-info h2, .student-info p {
    padding: .2vw;
}

.card {
    padding: 2vw;
    /* border: solid 1px darkgray; */
    margin: 1vw;
    background-color: snow;
    border-radius: 15px;
    box-shadow: 3px 4px gray;
}

.bottomCard {
    height: 200px;
}

/*############
##  STUDENT SPECIFIC CARD FORMATTING  ##
############*/

#bioCard h4 {
    font-weight: bold;
    padding-bottom: 5px;
}

#expandBioTray:hover {
    color: blue;
    text-decoration: underline;
}

ul {
    padding-left: 40px;
}

.goal-card p {
    padding-bottom: 15px;
    padding-left: 15px;
}

button {
    padding: 15px 30px;
    border-radius: 15px;
}

.update-entry {
    padding: 15px 0;
}

.update-entry h5 {
    padding-bottom: 5px;
    font-weight: bold;
}

.update-entry h6 {
    padding-bottom: 5px;
}

/*############
##  FOOTER  ##
############*/

.footer {
    border-top: solid 2px black;
    padding: 20px 0;
}

.copy-brand {
    padding-right: 100px;
}


/*################
### NAVIGATION ###
################*/

.nav {
    padding: .5vw; 
}

/*#################
###  MAIN HOME  ###
#################*/

.homeFloatText {
    margin-bottom: 20vw;
    padding: 3vw;
    background-color: rgba(255, 255, 255, 0.7);
}

.homeHeroImg {
    width: 84vw;
    height: 35vw;
    background-position: center;
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/301926/pexels-photo-301926.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260")
}

/*#################
###  AUTH   ###
#################*/

.loginCred {
    width: 500px;
    padding: 50px;
    margin: 8vw 10vw 20vw 10vw;
}

/*#################
###  MAIN ****next page****  ###
#################*/



